body{
	margin: 0 !important;
	padding: 0 !important;
	font-family:"Open Sans", sans-serif;
	font-size:12px;
}

.wrapper{
	display:flex;
	height:100%; !important;
}

.left{
	display:flex;
	flex-flow:column;
	width:200px;
	background:#0F1215;
}

.center{
	background:#FFFFFF;
	display:flex;
	flex-flow:column;
	width:800px;
}

.right{
	display:flex;
	flex-flow:column;
	width:200px;
}

.search{
	background:#AD4444;
	height:15vh;
	display:flex;
	justify-content: center;
	align-items:center;
	width:200px;
}

.sidebar{
	background:#0F1215;
	min-height:85vh;
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items: flex-start;
	padding:20px;
	width:200px;
}

.profile{
	color:white;
	background:#75B0B9;
	height:15vh;
	padding-left:10px;
	padding-right:10px;
}

.friends{
	background:#E7E8EB;
	min-height:70vh;
	padding:10px;
}

.chat{
	background:#B8C0CE;
	height:15vh;
	display:flex;
	justify-content: center;
	align-items: center;
}

.topbar{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	margin-left:10px;
	margin-right:10px;
	height:100px;
}

.discover{
	font-size:20px;
}

.sort{
 color:gray;
 display:flex;
 align-items:center;
}

.sort a{
	text-decoration:none;
}

.sort__divider{
	font-size:20px;
	padding:10px;
}

.sort__link{

}

.sort__link--selected{
	color:#75B0B9;
}

.buttons{

}

.searchLine{
	color:#FFFFFF;
}

.linkList{
	list-style-type:none;
	list-style-position:inside;
	padding:0;
}

.linkList li{
	padding: 10px;
}

.navLink{
	display:flex;
	align-items:center;
	width:100%;
}

.navLink:hover{
	-webkit-filter:brightness(2);
}

.navLink--selected{
	background:#171B20;
}

.navLink__button{
	height:20px;
	width:20px;
	margin-right:10px;
}

.navLink__text{
	color:white;
}

.navTitle{
	color:gray;
	margin-left:10px;
}

.topbarButton{
	height:25px;
	width:25px;
}

.topbarButton:hover{
	-webkit-filter:brightness(3);
}

.friend{
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.friend:hover{
	-webkit-filter:brightness(2);
}

.friend__pic{
	height:25px;
	width:25px;
}

.friend__text{
	display:flex;
	flex-direction:column;
	margin-right:auto;
	margin-left:10px;
}

.friend__name{

}

.friend__movie{
	color:gray;
}

.friend__status{
	height:10px;
	width:10px;
	margin-right:10px;
}

.movies{
	display:flex;
	flex-flow:row wrap;
	justify-content: flex-start;
	margin-left:20px;
}

.movie{
	padding:10px;
	position: relative; 
	left: 0; 
	top: 0;
}

.movie__image--selected{
	-webkit-filter:brightness(20%);
}

.movie__image{
	height:180px;
	width:120x;
	position: relative; 
	left: 0; 
	top: 0;
}

.movie__play{
	height: 20px;
	width: 20px;
	position: absolute; 
	top: 90px; 
	left: 60px;
	content:url("play.png");
}

.movie__play:hover{
	-webkit-filter:brightness(3);
}

.movie__rewind{
	height: 20px;
	width: 20px;
	position: absolute;
	top: 20px;
	left: 100px;
	content:url("play.png");
}

.movie__rewind:hover{
	-webkit-filter:invert(100%);
}

.movie__title{
	
}

.movie__info{
	color:gray;
}

.searchLine{
	background-color:transparent;
	color:white;
	border:none;
	border-bottom: 2px solid white;
	background-image: url('search.svg');
	background-size: 15px 15px;
	background-position: right center;
    background-repeat: no-repeat;
    outline:none;
}

::-webkit-input-placeholder { 
	color:#FFFFFF;
	font-style:italic; 
}